.selection-cards__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 750px;

}

.selection-image {
    height: 100%;
    border-radius: 20px;
}
