.button-plus {
    font-family: inherit;
    font-weight: var(--fw-bold);
    font-size: 40px;
    color: var(--clr-neutral-light);
    background: var(--clr-accent);
    background: var(--clr-gradient-button);
    border: none;
    border-radius: 60px;
    box-shadow: 0 5px 8px 4px rgba(0, 0, 0, .2);
    height: 50px;
    width: 50px;
    padding: 0px;
    margin: 20px;
}

.button-plus:hover {
    cursor: pointer;
    border: 1px solid var(--clr-text-dark)
}

.button-plus:disabled {
    opacity: .5;
    cursor: not-allowed;
}