.painting-cards__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 0 1.5rem 1.5rem;
}

.painting-card {
    position: relative;
    width: 320px;
    height: 320px;
    margin: 10px;
}

.painting-card:hover {
    cursor: pointer
}

.painting-card img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    box-shadow: 0 32px 28px -10px rgba(0, 0, 0, 0.22);
}

.painting-card__title-wrapper {
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -50%);
    padding: 5px;
    border-radius: 5px;
    background-color: var(--clr-neutral-light);
    opacity: .5;
}

.painting-card__title-wrapper p {
    font-size: 1rem;
    opacity: 1;
    text-align: center;
}