.dashboard-user-container {
    min-height: var(--page-height);
    display: flex;
    flex-direction: row;
}

.dashboard-user-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.quote-element {
    text-align: center;
    padding-bottom: 4rem;
}

.quote-element h2 {
    font-family: var(--ff-accent);
    margin-bottom: 1rem;
}

.dasboard-user-content__button-plus {
    text-align: right;
    margin-right: 1rem;
}