.sidebar {
    display: flex;
    flex-direction: column;
    min-width: 310px;
    margin-left: 1.7rem;
}

.image-wrapper {
    max-width: 160px;
    flex-grow: 0;
    flex-shrink: 1;
    margin: 1rem 2rem;
}

.image-wrapper img{
    width: 100%;
    border-radius: 90px;
    box-shadow: 0 32px 28px -10px rgba(0, 0, 0, 0.22);
}

.invisible-button {
    position: absolute;
    background: transparent;
    color: transparent;
    width: 200px;
    height: 155px;
    box-shadow: none;
    border-radius: 75px;
}

.invisible-button:hover {
    border: none;
    cursor: pointer;
}

.project-profile {
    font-weight: var(--fw-light);
    width: 300px
}

.sidebar button {
    margin-left: 0;
    max-width: 90%;
}
