.painting-cards__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.dasboard-user-content__button {
    text-align: center;
    margin-top: 15px;
}

.dasboard-user-content__button-plus {
    text-align: right;
    margin-right: 1.7rem;
}