.reference-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 256px;
    height: 330px;
    background: var(--clr-gradient-card);
    border-radius: 20px;
    margin: 100px 30px 65px 30px;
    box-shadow: 0 32px 28px -10px rgba(0, 0, 0, 0.22);
}

.reference-card__image-wrapper {
    position: absolute;
    width: 128px;
    height: 128px;
    top: 60px;
}

.reference-card__image-wrapper img {
    height: 100%;
    border-radius: 90px;
    box-shadow: 0 32px 28px -10px rgba(0, 0, 0, 0.22);
}

.reference-card__info-container {
    text-align: center;
    margin-top: 6.5rem;
}

.reference-card__info-container h4 {

}

.reference-card__info-container p {
    font-size: var(--fs-300);
    padding: 1.75rem;
}



