.projectpage-container {
    min-height: var(--page-height);
    display: flex;
    flex-direction: row;
}

.project-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.project-content__button-plus {
    text-align: right;
    margin-right: 1rem;
}

.dropdown-container {
    width: 230px;
    position: absolute;
    margin-top: 10px;
    margin-left: 1.7rem;
    z-index: 1;
}

.dropdown-header {
    margin-bottom: 0.8rem;
    padding: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    background: #fff;
}

.dropdown-list {
    padding: 0;
    margin: 0;
    padding-left: 25px;
    background: #fff;
    border: 1px solid var(--clr-accent);
 }

.dropdown-list:first-child {
    padding-top: 0.8rem;
}

.dropdown-item {
    list-style: none;
    margin-bottom: 0.8em;
}
