.dashboard-user-container {
    min-height: calc(100vh - 320px);
    display: flex;
    flex-direction: row;
}

.dashboard-user-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.dashboard-quote-area {
    text-align: center;
    padding-bottom: 4rem;
}

.dashboard-quote-area h2 {
    font-family: var(--ff-accent);
}

.dashboard-user-content button {
    margin: auto;
}





/*@media only screen and (max-width: 970px) {*/

/*    .dashboard-user-container {*/
/*        flex-direction: column;*/
/*    }*/

/*    .sidebar {*/
/*        height: 150px;*/
/*    }*/

/*}*/